<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Fake Api</title>
</head>
<body>
    <h1>Posts</h1>

    {{#data}}
        <h3>{{title}}</h3>
        <p>{{body}}</p>
        <a href="/posts/{{id}}/comments">Ler</a>
    {{/data}}
</body>
</html>